* {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
}
/* ---GENERAL PAGE FORMATING--- */
.page-body {
  text-align: center;
  margin: 3rem;
  height: 110vh;
}
/* ---GENERAL BUTTON FORMATING--- */
.btn.btn-secondary {
  background-color: #FF0080;
  font-weight: bolder;
  margin: 5px;
}
.btn.btn-secondary:hover {
  color: #FF0080;
  background-color: white;
}

/* ---FOOTER--- */
footer {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFEF1;
  display: flex;
  justify-content: space-around;
}

/* ---FORMS--- */
form {
  margin-left: 20%;
  margin-right: 20%;
}
input {
  text-align: center;
}
div.form-group {
  margin-bottom: 15px;
}

/* ---HEADER--- */
header {
  background-color: #EBE0D0;
  display: flex;
  justify-content: space-between;
}
.cat-logo {
  width: 100px;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}

/* ---HOME--- */
.raisins {
  height: 500px;
  border-radius: 50%;
  border: 3px solid black;
}

/* ---INDEX--- */
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card.card-body {
  width: 300px;
  background-color: #FFFEF1;
  margin: 20px;
}

/* ---NAV--- */
a {
  color: #FF0080 !important;
  text-decoration: none !important;
}
a:hover {
  cursor: pointer !important;
  color: #FF0080 !important;
  text-decoration: underline !important;
}

/* ---NOT FOUND--- */
.cat-friend {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

/* ---SHOW--- */
.card-show.card.card-body {
  margin: 0 auto;
}
